{% extends "base.html" %}
{% block title %} Issue {{issue.summary}} {% endblock %}
{% load static %}
{% block content %}
<div class="page-heading">
    <h3>{{issue.summary}}</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Issue details {% if issue.resolved %} (RESOLVED) {% endif %}</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-lg">
                                    <thead>
                                        <tr>
                                            <th>{{ issue.summary }}</th><th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-bold-500">Description</td>
                                            <td class="text-bold-500">{{ issue.description }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Identified by</td>
                                            <td class="text-bold-500">{{ issue.identified_by }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Identification date</td>
                                            <td class="text-bold-500">{{ issue.identification_date }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Related project</td>
                                            <td class="text-bold-500">{{ issue.related_project }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Assigned to</td>
                                            <td class="text-bold-500">{{ issue.assigned_to }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Priority</td>
                                            <td class="text-bold-500">{{ issue.get_priority_display }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Planned resolution</td>
                                            <td class="text-bold-500">{{ issue.target_resolution }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Progress</td>
                                            <td class="text-bold-500">{{ issue.progress }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Resolved on</td>
                                            <td class="text-bold-500">{{ issue.actual_resolution }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Resolution summary</td>
                                            <td class="text-bold-500">{{ issue.res_summary }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Created on</td>
                                            <td class="text-bold-500">{{ issue.created_on }}</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">Created by</td>
                                            <td class="text-bold-500">{{ issue.created_by }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Unresolved issues by priority</h4>
                        </div>
                        <div class="card-body px-3 py-4-5">
                            {% autoescape off %}
                                {{ plot_div }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-5">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="{% static 'assets/images/faces/1.jpg' %}" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
                            <h5 class="font-bold">{{ request.user.username }}</h5>
                            <h6 class="text-muted mb-0">@{{ request.user.username }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Solvers</h4>
                </div>
                <div class="card-content pb-4">
                    {% for p in people_active %}
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img src="{% static 'assets/images/faces/4.jpg' %}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{ p.user.username }}</h5>
                            <h6 class="text-muted mb-0">@{{ p.user.username }}</h6>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="px-4">
                        <button class='btn btn-block btn-xl btn-light-primary font-bold mt-3'>Start
                            Conversation</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Visitors Profile</h4>
                </div>
                <div class="card-body">
                    <div id="chart-visitors-profile"></div>
                </div>
            </div>
        </div>
    </section>
</div>  
{% endblock content %}
