{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% load static %}
{% block content %}
<div class="page-heading">
    <h3>Issue tracker dashboard</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-9">
            <div class="row">
                <div class="col-12 col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="iconly-boldShow"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Total projects</h6>
                                    <h6 class="font-extrabold mb-0"> {{ projects|length }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon red">
                                        <i class="iconly-boldBookmark"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Total issues (solved)</h6>
                                    <h6 class="font-extrabold mb-0"> {{ issues|length }} ({{ issues_solved|length }})</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon green">
                                        <i class="iconly-boldAdd-User"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Active solvers</h6>
                                    <h6 class="font-extrabold mb-0"> {{ people_active|length }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Issues stats</h4>
                        </div>
                        <div class="card-body px-3 py-4-5">
                            {% autoescape off %}
                                {{ issues_status_div }}
                            {% endautoescape %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4>Project stats</h4>
                        </div>
                        <div class="card-body px-3 py-4-5">
                            {% autoescape off %}
                                {{ projects_plot_div }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% for p in projects %}
                        <div class="card">
                            <div class="card-header">
                                <h4><a href="{% url 'projects' %}{{p.id}}">{{p.project_name}}</a></h4>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item active">Active issues: {{p.unresolved_issues|length}}</li>
                                    {% if p.unresolved_issues %}
                                        {% for i in p.unresolved_issues %}
                                            <li class="list-group-item"><a href="{% url 'issues' %}{{i.id}}">{{ i.summary }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-5">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="{% static 'assets/images/faces/1.jpg' %}" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
                            <h5 class="font-bold">{{ request.user.username }}</h5>
                            <h6 class="text-muted mb-0">@{{ request.user.username }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Solvers</h4>
                </div>
                <div class="card-content pb-4">
                    {% for p in people_active %}
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img src="{% static 'assets/images/faces/4.jpg' %}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{ p.user.username }}</h5>
                            <h6 class="text-muted mb-0">@{{ p.user.username }}</h6>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="px-4">
                        <button class='btn btn-block btn-xl btn-light-primary font-bold mt-3'>Start
                            Conversation</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Visitors Profile</h4>
                </div>
                <div class="card-body">
                    <div id="chart-visitors-profile"></div>
                </div>
            </div>
        </div>
    </section>
</div>  
{% endblock content %}
