{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}
{% load static %}
{% block content %}
<div class="page-heading">
    <h3>Issue tracker dashboard</h3>
</div>
<div class="page-content">
    <section class="row">
        <div class="col-12 col-lg-9">
            {% include 'top_menu.html' %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Issues stats</h4>
                        </div>
                        <div class="card-body px-3 py-4-5">
                            {% autoescape off %}
                                {{ issues_status_div }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Project stats</h4>
                        </div>
                        <div class="card-body px-3 py-4-5">
                            {% autoescape off %}
                                {{ projects_plot_div }}
                            {% endautoescape %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="card">
                <div class="card-body py-4 px-5">
                    <div class="d-flex align-items-center">
                        <div class="avatar avatar-xl">
                            <img src="{% static 'assets/images/faces/1.jpg' %}" alt="Face 1">
                        </div>
                        <div class="ms-3 name">
                            <h5 class="font-bold">{{ request.user.username }}</h5>
                            <h6 class="text-muted mb-0">@{{ request.user.username }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Solvers</h4>
                </div>
                <div class="card-content pb-4">
                    {% for p in people_active %}
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img src="{% static 'assets/images/faces/4.jpg' %}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{ p.user.username }}</h5>
                            <h6 class="text-muted mb-0">@{{ p.user.username }}</h6>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="px-4">
                        <button class='btn btn-block btn-xl btn-light-primary font-bold mt-3'>Start
                            Conversation</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Visitors Profile</h4>
                </div>
                <div class="card-body">
                    <div id="chart-visitors-profile"></div>
                </div>
            </div>
        </div>
    </section>
</div>  
{% endblock content %}
