{% load static %}
<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="mx-auto w-100">
                    <a href="{% url 'index' %}"><img class="w-50 h-auto px-auto" src="{% static 'assets/images/logo/it-logo.png' %}" alt="Logo" srcset=""></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <!-- Single menu item -->
                <li class="sidebar-item  {% if index_menu_active %} active {% endif %}">
                    <a href="{% url 'index' %}" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item has-sub {% if projects_menu_active %} active {% endif %}">
                    <a href="{% url 'projects' %}" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Projects</span>
                    </a>
                    <ul class="submenu {% if projects_menu_active %} active {% endif %}">
                        {% for project in projects %}
                            <li class="submenu-item ">
                                <a href="{% url 'projects' %}{{project.id}}">{{project.project_name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="sidebar-item  {% if issues_menu_active %} active {% endif %}">
                    <a href="{% url 'issues' %}" class='sidebar-link'>
                        <i class="bi bi-pen-fill"></i>
                        <span>Issues</span>
                    </a>
                </li>

                <li class="sidebar-item  {% if people_menu_active %} active {% endif %}">
                    <a href="{% url 'people' %}" class='sidebar-link'>
                        <i class="bi bi-person-badge-fill"></i>
                        <span>People</span>
                    </a>
                </li>
                <!-- Item with subitems -->
                <li class="sidebar-item has-sub ">
                    <a href="#" class='sidebar-link'>
                        <i class="bi bi-stack"></i>
                        <span>Components</span>
                    </a>
                    <ul class="submenu ">
                        <li class="submenu-item ">
                            <a href="{% url 'index' %}">Alert</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{% url 'index' %}">Badge</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="{% url 'index' %}">Breadcrumb</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>